.footer-logo{
    color: #FFBD30;
    font-size: 40px;
    font-weight: 900;
}
footer{
    background-color: #212121;
    color: white;
    padding-top: 50px;
    height: 430px;
}

/* for menu:  #29B2B8 */